
<!DOCTYPE html>



<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> FLASH - View Job Requests</title>

    <!-- Bootstrap Core CSS. Do not delete. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

    <!-- Favicons. -->
    <link rel="icon" href="/static/img/favicons/favicon-32x32.dd982d142e45.png" size="32x32" type="image/png">
    <link rel="icon" href="/static/img/favicons/favicon-16x16.3ef2cce01001.png" size="16x16" type="image/png">
    <link rel="apple-touch-icon" href="/static/img/favicons/apple-touch-icon.911dcf130ab8.png" sizes="180x180">
    <link rel="manifest" href="/static/img/favicons/site.04ba0f94cd0d.webmanifest">

    <!-- Custom fonts for this template. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">

    <!-- Custom styles for this template. -->
    <link rel="stylesheet" href="/static/css/sb-admin-2.49f195ea8274.css">

    
        <!-- Bootstrap core JavaScript. -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" defer></script>

        <!-- Core plugin JavaScript. -->
        <script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js" defer></script>

        <!-- Custom scripts for all pages. -->
        <script src="/static/js/sb-admin-2.min.a414a4701acb.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" defer></script>

        <!-- Place project specific Javascript in this file. -->
        <script src="/static/js/vue-tags-input.7f7891cef90b.js" defer></script>
        <script src="/static/js/tvpv_portal.f6e52836ab98.js" defer></script>
        <script src="/static/js/ai.2.8.3.min.2e7a7a7bb1d9.js" defer></script>
        <script src="/static/js/flash_ai.481a5ecea88b.js" defer></script>
    

    <!-- Page specific extra header. -->
    
    <!-- Datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.bootstrap4.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.3.3/css/fixedColumns.bootstrap4.css">
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" defer></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.3.3/js/dataTables.fixedColumns.min.js" defer></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js" defer></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js" defer></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.bootstrap4.min.js" defer></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js" defer></script>

    <!-- jquery builder -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder@2.6.1/dist/css/query-builder.default.css">
    <script src="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder@2.6.1/dist/js/query-builder.standalone.min.js" defer></script>

    <!-- Select2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js" defer></script>

    <!-- Tippy -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tippy.js@6.3.7/themes/light.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/tippy.js@6.3.7/dist/tippy-bundle.umd.min.js" defer></script>

    <!-- Datetime with locale -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js" defer></script>

    <script src="/static/js/job_requests_table.ada55471283d.js" defer></script>

    <style>
        #tableview {
            font-size: .9rem;
            color: #34495e;
        }
        #tableview th,
        #tableview td {
            text-align: center;
        }

        .select2-selection__rendered {
            color: #6e707e !important;
            line-height: 31px !important;
        }
        .select2-container .select2-selection--single {
            height: 36px !important;
        }
        .select2-selection__arrow {
            height: 35px !important;
        }
        .select2-container--default .select2-selection--single {
            border: 1px solid #d1d3e2 !important;
        }
        .query-builder .rules-group-container {
            min-height: 20px;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            border-radius: 14px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            width: 70%;
        }
        .query-builder .pull-right {
            float: right !important;
        }
        .query-builder .rule-value-container select {
            padding-left: 10px;
            padding-right: 10px;
        }
        .query-builder .hide {
            display: none;
        }
        .query-builder input[type="text"] {
            padding: 0.25rem 0.5rem !important;
        }
        .query-builder .group-conditions label:not(.active) {
            opacity: .6;
        }

    </style>


    <!-- Place project specific CSS in this file. -->
    <link rel="stylesheet" href="/static/css/tvpv_portal.2ffc2720eda8.css">

</head>

<body id="page-top">

    <!-- Page Wrapper. -->
    <div id="wrapper">

        <!-- Sidebar. -->
        

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand. -->
    <li class="mt-2 mb-5">
        <a class="sidebar-brand d-flex align-items-center justify-content-center flex-column" href="/">
            <div class="sidebar-brand-icon mt-4">
                <img src="/static/img/flash_logo.148093375120.svg" width="45%" type="image/svg">
            </div>
            <div class="sidebar-brand-text mx-3 strong" style="font-size: .85rem;">
                TVPV Portal
            </div>
            <div class="sidebar-brand-text mx-3 strong" style="font-size: .7rem;">
                0.1.36
            </div>
        </a>
    </li>

    <!-- Divider. -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Project Dashboard. -->
    <!--
        <li class="nav-item active">
        
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
         </li>
    -->

    <!-- Divider. -->
    <hr class="sidebar-divider">

    <!-- Heading: Interface -->
    <div class="sidebar-heading">
        Interface
    </div>

      <!-- Nav Item - Job Submission. -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseJS" aria-expanded="true"
           aria-controls="collapseInfo">
            <i class="fas fa-fw fa-share-square"></i>
            <span>Job Submission</span>
        </a>
        <div id="collapseJS" class="collapse" aria-labelledby="headingInfo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/traceturnin/">Trace Turnin</a>
                <a class="collapse-item" href="/traceconvert/v2/">Trace Conversion</a>
                <a class="collapse-item" href="/patternrelease/">Pattern Release</a>
                <a class="collapse-item" href="/job_requests_table/">Results</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Product Summary. -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="true"
           aria-controls="collapseInfo">
            <i class="fas fa-fw fa-list-alt"></i>
            <span>Product Summary</span>
        </a>
        <div id="collapseInfo" class="collapse" aria-labelledby="headingInfo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/prodinfo/view_vrev_summary/">Vrev</a>
                <a class="collapse-item" href="/prodinfo/view_cfx_summary/">CFX</a>
                <a class="collapse-item" href="/prodinfo/view_pattern_naming/">Pattern Naming Convention</a>
                <a class="collapse-item" href="/prodinfo/view_trace2ate_decode/">Trace2ATE ID Decode</a>
                <a class="collapse-item" href="/prodinfo/view_ticket_site_config/">Product TVPV Ticket
                    System</a>
                <a class="collapse-item" href="/prodinfo/view_product_info/">Product Info</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Lineitem. -->
    <li class="nav-item">
        <a class="nav-link" href="/lisetup/view_lineitems/">
            <i class="fas fa-fw fa-bars"></i>
            <span>Lineitems</span>
        </a>
    </li>

    <!-- Nav Item - Vecmem Bucketing. -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePR" aria-expanded="true"
           aria-controls="collapsePR">
            <i class="fa fa-folder-open"></i>
            <span>Pattern Release</span>
        </a>
        <div id="collapsePR" class="collapse" aria-labelledby="headingInfo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/patternrelease/limiter/">Vector Memory View</a>
                <a class="collapse-item" href="/patternrelease/syncstatus/">Sync Status View</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Permission Management. -->
    <li class="nav-item">
        <a class="nav-link" href="/permmgr/permission_management/">
            <i class="fas fa-fw fa-user-friends"></i>
            <span>Permission Management</span>
        </a>
    </li>

    <!-- Nav Item - Help. -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="true"
           aria-controls="collapseHelp">
            <i class="fas fa-fw fa-comments"></i>
            <span>Help</span>
        </a>
        <div id="collapseHelp" class="collapse" aria-labelledby="headingHelp" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/prodinfo/view_ticket_site_config/">File a Ticket
                <i data-toggle="tooltip" title="File Ticket for Product TVPV." data-placement="right" class="ml-3 fa
                   fa-question-circle">
                </i></a>
                <a class="collapse-item" href="/static/docs/index.fcfea8b1626b.html" target="_blank">User Guide</a>
            </div>
        </div>
    </li>

    <!-- Divider. -->
    <hr class="sidebar-divider">

    <!-- Heading: Admin -->
    <div class="sidebar-heading">
        Admin
    </div>

    <!-- Nav Item - RTL/Simode Registration. -->
    <li class="nav-item">
        <a class="nav-link" href="/tracegen/view_modelregs/">
            <i class="fas fa-fw fa-bars"></i>
            <span>RTL/SiMode Registration</span>
        </a>
    </li>

    <!-- Nav Item - Pattern Checker Config . -->
    <li class="nav-item">
        <a class="nav-link collapsed " href="#" data-toggle="collapse" data-target="#collapsePC" aria-expanded="true"
           aria-controls="collapsePC">
            <i class="fas fa-fw fa-link"></i>
            <span>Pattern Checker Settings</span>
        </a>
        <div id="collapsePC" class="collapse" aria-labelledby="headingHelp" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- Nav Item - Test Condition Config. -->
                <a class="collapse-item" href="/patchecker/view_test_condition_config/">Test Condition Config</a>
                <!-- Nav Item - Signal Hierarchy Mapping Config. -->
                <a class="collapse-item" href="/patchecker/view_signal_hierarchy_mapping_config/">Signal Hierarchy Mapping Config</a>
                <!-- Nav Item - Intradut Collateral Config. -->
                <a class="collapse-item" href="/patchecker/view_intradut_config/">Intradut Collateral Config</a>
                <!-- Nav Item - Time Shift Config. -->
                <a class="collapse-item" href="/patchecker/view_patchecker_config/?type=time_shift_config">Time Shift Config</a>
                <a class="collapse-item" href="/patchecker/view_patchecker_config/?type=compare_range_config">Compare Range Config</a>

            </div>
        </div>
    </li>

    <!-- Nav Item - Lineitem Settings -->
    <li class="nav-item">
        <a class="nav-link collapsed " href="#" data-toggle="collapse" data-target="#collapseLI" aria-expanded="true"
           aria-controls="collapseLI">
            <i class="fas fa-fw fa-link"></i>
            <span>Lineitem/Reset Settings</span>
        </a>
        <div id="collapseLI" class="collapse" aria-labelledby="headingHelp" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- Nav Item - View Lineitem Pairing. -->
                <a class="collapse-item" href="/lipair/view_lineitem_pairing/">Reset Pairing</a>
                <!-- Nav Item - View Lineitem Config. -->
                <a class="collapse-item" href="/lisetup/view_lineitem_config/">Other Config</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Trace2ATE Conversion Settings. -->
    <li class="nav-item">
        <a class="nav-link collapsed " href="#" data-toggle="collapse" data-target="#collapseT2EConv" aria-expanded="true"
           aria-controls="collapseT2EConv">
            <i class="fas fa-fw fa-sliders-h"></i>
            <span>Trace2ATE Settings</span>
        </a>
        <div id="collapseT2EConv" class="collapse" aria-labelledby="headingT2EConv" data-parent="#accordionSidebar">
            <ul class="navbar-nav navbar-subnav">

                <!-- Start of RAGN Delay Settings -->
                <li class="nav-item">
                    <a class="nav-link navbar-subnav-link collapsed" href="#collapseRAGN" data-toggle="collapse" data-target="#collapseRAGN" >
                        <span>RAGN Delay</span>
                    </a>
                    <div class="collapse" id="collapseRAGN" aria-expanded="false" data-parent="#collapseT2EConv">
                        <div class="bg-white py-1 collapse-inner rounded">
                            <a class="collapse-item" href="/extracfg/view_ratio_sets/">Ratio Sets Config</a>
                            <a class="collapse-item" href="/extracfg/view_default_ratio_key/">Default Ratio Key Config</a>
                        </div>
                    </div>
                </li>
                <!-- End of RAGN Delay Settings -->

                <!-- Start of IFPM Patmod Settings -->
                <li class="nav-item">
                    <a class="nav-link navbar-subnav-link collapsed" href="#collapseIFPM" data-toggle="collapse" data-target="#collapseIFPM" aria-expanded="true"
                       aria-controls="collapseIFPM">
                        <!-- <i class="fas fa-fw fa-file-alt"></i> -->
                        <span>IFPM Patmod</span>
                    </a>
                    <div id="collapseIFPM" class="collapse" aria-labelledby="headingIFPM" data-parent="#collapseT2EConv">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/ifpmpatmod/view_patmod_sets/">Patmod Sets Config</a>
                            <a class="collapse-item" href="/ifpmpatmod/view_patmod_value_map/">Patmod Value Map Config</a>
                        </div>
                    </div>
                </li>
                <!-- End of IFPM Patmod Settings -->

                <li class="nav-item">
                    <a class="nav-link navbar-subnav-link" href="/extracfg/view_trace2ate_pin_config/">
                        <span>Pin Config</span>
                    </a>
                </li>

                <!-- Start of Other Config -->
                <li class="nav-item">
                    <a class="nav-link navbar-subnav-link" href="/extracfg/view_trace2ate_other_config/">
                        <span>Other Config</span>
                    </a>
                </li>
                <!-- End of IFPM Patmod Settings -->

            </ul>
        </div>
    </li>

    <!-- Nav Item - Product Setup. -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Product Setup</span>
        </a>
    </li>

    <!-- Nav Item - File Ticket To Developer. -->
    <li class="nav-item">
        <a class="nav-link" href="https://jira.devtools.intel.com/secure/CreateIssue.jspa?pid=85246" target="_blank">
            <i class="fas fa-fw fa-comments"></i>
            <span>File Ticket To Developer</span>
            <i data-toggle="tooltip" title="In Jira, select the Project as 'TVPV Flash (TF7)' and select the
                  Issue Type as 'Feature', 'Bug', 'Question' accordingly." data-placement="right" class="ml-3 fa fa-question-circle">
            </i>
        </a>
    </li>

    <!-- Divider. -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar). -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
        <!-- End of Sidebar. -->

        <!-- Content Wrapper. -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content. -->
            <div id="content">
                <!-- Topbar. -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar). -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search. -->
    <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 w-100 navbar-search">
        <div id="search-bar-container" class="d-flex align-items-center" data-config-url="/tcsearch/view_results/">
            <div class="dropdown show mr-1">
                <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-clock fa-sm"></i>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 600px;">
                    
                    <a v-for="item in recentSearches" class="dropdown-item" href="#" @click.prevent="replacePredicates(item)">{{ recentSearchItemStr(item) }}</a> 
                    <hr style="margin: 5px 0 5px 0;" />
                    <a class="dropdown-item" href="#" @click.prevent="clearRecentSearches">Clear recent searches</a>
                </div>
            </div>

            
            <div class="d-inline-block" style="width: 85%;" v-cloak>
                <vue-tags-input ref="search-bar" v-model="tag" :add-from-paste="false" :avoid-adding-duplicates="false"
                    :placeholder="placeholder" :tags="tags" :autocomplete-items="filteredItems" :allow-edit-tags="true"
                    :autocomplete-filter-duplicates="false" :add-only-from-autocomplete="false"
                    @tags-changed="newTags => tags = newTags" @search-trigger="onSearch">
                    <div
                        slot="autocomplete-item"
                        slot-scope="props"
                        class="my-item"
                        @click="props.performAdd(props.item)"
                        v-cloak>
                        <svg v-if="props.item.text === 'Product'" style="margin-top: -2px;" class="bi bi-box mr-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                        </svg>

                        <svg v-else-if="props.item.text === 'Tuple'" style="margin-top: -2px;" class="bi bi-fonts mr-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.258 3H3.747l-.082 2.46h.479c.26-1.544.758-1.783 2.693-1.845l.424-.013v7.827c0 .663-.144.82-1.3.923v.52h4.082v-.52c-1.162-.103-1.306-.26-1.306-.923V3.602l.43.013c1.935.062 2.434.301 2.694 1.846h.479L12.258 3z"/>
                        </svg>

                        <svg v-else-if="props.item.text === 'Lineitem'" style="margin-top: -2px;" class="bi bi-list mr-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>

                        <svg v-else-if="props.item.text === 'Name'" style="margin-top: -2px;" class="bi bi-type mr-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.244 13.081l.943-2.803H6.66l.944 2.803H8.86L5.54 3.75H4.322L1 13.081h1.244zm2.7-7.923L6.34 9.314H3.51l1.4-4.156h.034zm9.146 7.027h.035v.896h1.128V8.125c0-1.51-1.114-2.345-2.646-2.345-1.736 0-2.59.916-2.666 2.174h1.108c.068-.718.595-1.19 1.517-1.19.971 0 1.518.52 1.518 1.464v.731H12.19c-1.647.007-2.522.8-2.522 2.058 0 1.319.957 2.18 2.345 2.18 1.06 0 1.716-.43 2.078-1.011zm-1.763.035c-.752 0-1.456-.397-1.456-1.244 0-.65.424-1.115 1.408-1.115h1.805v.834c0 .896-.752 1.525-1.757 1.525z"/>
                        </svg>

                        <svg v-else-if="props.item.text === 'TID'" style="margin-top: -2px;" class="bi bi-droplet mr-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                            <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                        </svg>

                        <svg v-else-if="props.item.text === 'Type'" style="margin-top: -2px;"  class="bi bi-info mr-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>

                        <svg v-else-if="props.item.text === 'AmbleType'" style="margin-top: -2px;" width="16" height="16" fill="currentColor" class="bi bi-bricks" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" >
                            <path d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5v-3zM3 4v2h4.5V4H3zm5.5 0v2H13V4H8.5zM3 10v2h4.5v-2H3zm5.5 0v2H13v-2H8.5zM1 1v2h3.5V1H1zm4.5 0v2h5V1h-5zm6 0v2H15V1h-3.5zM1 7v2h3.5V7H1zm4.5 0v2h5V7h-5zm6 0v2H15V7h-3.5zM1 13v2h3.5v-2H1zm4.5 0v2h5v-2h-5zm6 0v2H15v-2h-3.5z"/>
                        </svg>

                        <svg v-else-if="props.item.text === 'Days'" style="margin-top: -2px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-date mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                          <path fill-rule="evenodd" d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                          <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>

                        <svg v-else-if="props.item.text === 'RunType'" style="margin-top: -2px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-braces mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6zM13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6z"/>
                        </svg>

                        <svg v-else-if="props.item.text === 'Valid'" style="margin-top: -2px;" width="16" height="16" fill="currentColor" class="bi bi-check mr-1" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                        </svg>

                        <svg v-else-if="props.item.text === 'Tag'" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 2v4.586l7 7L13.586 9l-7-7H2zM1 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2z"/>
                            <path fill-rule="evenodd" d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                        </svg>

                        <svg v-else-if="props.item.text === 'IDSID'" width="16" height="16" fill="currentColor" class="bi bi-person-fill mr-1" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>

                        <svg v-else-if="['Module', 'TestType', 'Stepping', 'Vrev', 'Trace2ateID', 'Die'].indexOf(props.item.text) !== -1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel mr-1" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                        </svg>

                        <span>{{ props.item.text }}</span>
                    </div>
                    <div
                        slot="tag-left"
                        slot-scope="props"
                        class="my-tag-left"
                        @click="props.performOpenEdit(props.index)"
                        v-cloak>
                        <svg v-if="props.tag.text === 'Product'" style="margin-top: -2px;" class="bi bi-box mr-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                        </svg>

                        <svg v-else-if="props.tag.text === 'Tuple'" style="margin-top: -2px;" class="bi bi-fonts mr-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.258 3H3.747l-.082 2.46h.479c.26-1.544.758-1.783 2.693-1.845l.424-.013v7.827c0 .663-.144.82-1.3.923v.52h4.082v-.52c-1.162-.103-1.306-.26-1.306-.923V3.602l.43.013c1.935.062 2.434.301 2.694 1.846h.479L12.258 3z"/>
                        </svg>

                        <svg v-else-if="props.tag.text === 'Lineitem'" style="margin-top: -2px;" class="bi bi-list mr-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>

                        <svg v-else-if="props.tag.text === 'Name'" style="margin-top: -2px;" class="bi bi-type mr-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.244 13.081l.943-2.803H6.66l.944 2.803H8.86L5.54 3.75H4.322L1 13.081h1.244zm2.7-7.923L6.34 9.314H3.51l1.4-4.156h.034zm9.146 7.027h.035v.896h1.128V8.125c0-1.51-1.114-2.345-2.646-2.345-1.736 0-2.59.916-2.666 2.174h1.108c.068-.718.595-1.19 1.517-1.19.971 0 1.518.52 1.518 1.464v.731H12.19c-1.647.007-2.522.8-2.522 2.058 0 1.319.957 2.18 2.345 2.18 1.06 0 1.716-.43 2.078-1.011zm-1.763.035c-.752 0-1.456-.397-1.456-1.244 0-.65.424-1.115 1.408-1.115h1.805v.834c0 .896-.752 1.525-1.757 1.525z"/>
                        </svg>

                        <svg v-else-if="props.tag.text === 'TID'" style="margin-top: -2px;" class="bi bi-droplet mr-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                            <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                        </svg>

                        <svg v-else-if="props.tag.text === 'Type'" style="margin-top: -2px;" class="bi bi-info mr-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>

                        <svg v-else-if="props.tag.text === 'AmbleType'" style="margin-top: -2px;" width="16" height="16" fill="currentColor" class="bi bi-bricks" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" >
                            <path d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5v-3zM3 4v2h4.5V4H3zm5.5 0v2H13V4H8.5zM3 10v2h4.5v-2H3zm5.5 0v2H13v-2H8.5zM1 1v2h3.5V1H1zm4.5 0v2h5V1h-5zm6 0v2H15V1h-3.5zM1 7v2h3.5V7H1zm4.5 0v2h5V7h-5zm6 0v2H15V7h-3.5zM1 13v2h3.5v-2H1zm4.5 0v2h5v-2h-5zm6 0v2H15v-2h-3.5z"/>
                        </svg>

                        <svg v-else-if="props.tag.text === 'Days'" style="margin-top: -2px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-date mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                          <path fill-rule="evenodd" d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                          <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>

                        <svg v-else-if="props.tag.text === 'RunType'" style="margin-top: -2px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-braces mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6zM13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6z"/>
                        </svg>

                        <svg v-else-if="props.tag.text === 'Valid'" style="margin-top: -2px;" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                        </svg>

                        <svg v-else-if="props.tag.text === 'Tag'" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 2v4.586l7 7L13.586 9l-7-7H2zM1 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2z"/>
                            <path fill-rule="evenodd" d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                        </svg>

                        <svg v-else-if="props.tag.text === 'IDSID'" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>

                        <svg v-else-if="['Module', 'TestType', 'Stepping', 'Vrev', 'Trace2ateID', 'Die'].indexOf(props.tag.text) !== -1"
                             xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel mr-1" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                        </svg>
                    </div>
                </vue-tags-input>
            </div>
            

            <button class="clear-search btn btn-light d-inline shadow-none mr-3" type="button" @click="clearSearch">
                <i class="fas fa-times fa-sm"></i>
            </button>

            <button id="search-btn" class="btn btn-primary d-inline-block" type="button" @click="onSearch">
                <i class="fas fa-search fa-sm"></i>
            </button>
            <a href="/static/docs/usage/search.html#search">
                <i data-toggle="tooltip" title="Help - Search" data-placement="bottom" class="ml-3 fa fa-question-circle">
                </i>
            </a>
        </div>
    </form>

    <!-- Topbar Navbar. -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS). -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages. -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information. -->
        
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">abdulra2</span>
                <img class="img-profile rounded-circle" src="https://icons-for-free.com/iconfiles/png/512/profile+user+icon-1320166082804563970.png">
            </a>
            <!-- Dropdown - User Information. -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <div class="dropdown-user-details-name">Abdul Rahim, Muhammad Fitri</div>
                <div class="dropdown-user-details-email">muhammad.fitri.abdul.rahim@intel.com</div>
                <div class="dropdown-divider">
                </div>

                <a class="dropdown-item" href="/accounts/logout/" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
                </a>
            </div>
        </li>
        
    </ul>

</nav>
                <!-- End of Topbar. -->
                

<div class="announcements">
    
        <script>const GET_ANNOUNCEMENT_URL = "/dashboard/announcements"</script>
        <script src="/static/js/announcements.2ede699c1b51.js" defer></script>
    
</div>

                <!-- Begin Page Content. -->
                
<div id="app" class="container-fluid">
<!-- MainContent Start -->
    
    <div class="row">
        <h1 class="ml-3 h3 mb-4 text-gray-800">Flash Job Requests <span v-cloak id="jobType">{{ additionalTitle }}</span></h1>
        <a href="/static/docs/usage/flash_jobs_view_table.html">
            <i data-toggle="tooltip" title="Help - Flash Job Requests" data-placement="bottom" class="align-bottom ml-1 fa fa-question-circle"></i>
        </a>
    </div>

        <div v-cloak class="card shadow mb-4">
            <div class="card-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="id_jobtype">Job Type</label>
                        <select id="id_jobtype" name="jobtype" class="select form-control mx-sm-2" v-model="jobType" @change="onJobTypeChanged">
                            <option v-for="option in jobTypeOptions" :value="option.value">{{ option.text }}</option>
                        </select>
                    </div>
                </form>

                <div class="mb-4 py-2" style="border-bottom: 0.15rem solid #4e73df;">
                </div>

                <template v-if="isValidJobType">
                    <div class="table-responsive">
                        <table id="tableview" class="table table-bordered" style="width:100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th v-for="column in dataTableColumns">{{ column }}</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </template>
            </div>
        </div>
    

</div>

                <!-- End of Page Content. -->
            </div>
            <!-- End of Main Content. -->

            <!-- Footer. -->
            <footer class="sticky-footer bg-white">
    <div class="container my-auto">
        
        <div id="footer" class="copyright text-center my-auto">
            <span>Copyright &copy; MPE MIT ACT {{ year }}</span>
        </div>
        
    </div>
</footer>

            <!-- End of Footer. -->
        </div>
        <!-- End of Content Wrapper. -->
    </div>
    <!-- End of Page Wrapper. -->

    <!-- Scroll to Top Button. -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal. -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/accounts/logout/">Logout</a>
                </div>
            </div>
        </div>
    </div>

    

    <script id="prod-data" type="application/json">["BMG", "ELG", "LNS", "MCF", "MTP", "PG3", "PVC", "RLT"]</script>
    <script id="prod-info" type="application/json">{"BMG": {"isDDPkg": false, "dies": []}, "ELG": {"isDDPkg": false, "dies": []}, "LNS": {"isDDPkg": false, "dies": []}, "MCF": {"isDDPkg": false, "dies": []}, "MTP": {"isDDPkg": false, "dies": []}, "PG3": {"isDDPkg": false, "dies": []}, "PVC": {"isDDPkg": false, "dies": []}, "RLT": {"isDDPkg": false, "dies": []}}</script>
    <script id="user-email" type="application/json">"muhammad.fitri.abdul.rahim@intel.com"</script>
    <script id="app-mode" type="application/json">"Production"</script>


    

<div class="modal fade" id="dialogModal" tabindex="-1" role="dialog" aria-labelledby="dialogModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ body }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ secondaryButtonText }}</button>
        <button type="button" class="btn btn-primary" @click="resolve">{{ primaryButtonText }}</button>
      </div>
    </div>
  </div>
</div>

<script src="/static/js/dialog.d155eeea3f65.js" defer></script>

    <!-- Page specific Javascript. -->
    
    <!-- Global Variable -->
    <script type="text/javascript">
        const TURNIN_REQUESTS_URL = "/traceturnin/datatable/turnin_requests_data/";
        const TURNIN_RESULTS_URL = "/traceturnin/view_turnin_results/";
        const CONVERSION_REQUESTS_URL = "/traceconvert/datatable/conversion_requests_data/";
        const CONVERSION_RESULTS_URL = "/traceconvert/view_conversion_results/";
        const STOP_CONVERSION_JOB = "/traceconvert/datatable/stop_conversion_job/";
        const PATTERNRELEASE_REQUESTS_URL = "/patternrelease/datatable/patternrelease_requests_data/";
        const PATTERNRELEASE_ABORT_JOB = "/patternrelease/datatable/patternrelease_abort_job/";
        const IS_SUPERUSER = true;
        const LOGIN_USER = "abdulra2";
        const ALL_PROD_NAMES = ['BMG', 'ELG', 'LNS', 'MCF', 'MTP', 'PG3', 'PVC', 'RLT'];
        const CSRF_TOKEN = "ZGEPpLlkbyRixSydDl1sH6FFjkd5IjAlpP1DQ7fKIkbzpD6txc00vgxn5ZkeHKWb";
    </script>


</body>

</html>
